*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:  #262b4e;
}

h1{
    text-align: center;
    color: #721daa;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
}

.p{
    color: #5c5a5e;
}

form{
    margin-top: 6.4rem;
    margin-bottom: 2.4rem;
}

.login-section{
    padding: 0 5%;
}

.img-section{
    /* background: #1f2340; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}

.flex-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 15rem; */
    margin:100px auto;
    /* border: 2px solid rgb(35, 34, 34); */
    border-radius: 0.5rem;
    /* padding: 2rem 2.5rem; */
    box-shadow: 0 1rem 1.8rem 1rem rgba(0,0,0,0.4);
    /* min-height: 100vh; */
    width: 100%;
}

    
.img{
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 450px;
}

.login-page{
    text-align: center;
    padding: 3.4rem 4rem;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    /* background-color: #2B2F5B; */
    flex: 0.8;
    background: #2b2f5b;
}

input{
    width: 100%;
    height: 2.8rem;
    margin-top: 1.2rem;
    border: 1px solid rgb(174, 173, 173);
    border-radius: 0.2rem;
    outline: none;
    background-color: #2a2c46;
    border: none;
}

input[type="text"],
input[type="password"]{
    padding-left: 1.2rem;
    color: rgb(174, 173, 173);
}

.create-account{
    margin-top: 1.5rem;
}

button{
    padding: 0.8rem 1.6rem;
    color: #ffff;
    font-size: 1rem;
    width: 100%;
    background-color: #7B6CF6;
    /* border: 1px solid rgb(81, 186, 81); */
    border-radius: 0.5rem;
    margin-top: 1.6rem;
    border: none;
}

