{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/products.css' %}?v=1">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <title>Add New products</title>
</head>
{% block content %}
<body>
    <a href="{% url 'home:dashboard' %}" class="arrow-icon"><ion-icon name="arrow-back-circle"></ion-icon></a>
    <section class="manage-inventory-system">
        <div>
            <h1 class="manage-inventory">Manage Inventory</h1>

        </div>

        <div class="add-products">
            <form action="" method="POST">
                {% csrf_token %}

                <div class="input-group popup">
                    <label for="id">Enter product ID</label><br>
                    <input type="number" name="product_id" value="{{edits.product_id}}" id="product_id" required><br>
                    
                    <label for="number">Enter quantity to add</label><br>
                    <div class="qty-box">
                        <button class="qty-btn minus">-</button>
                        <input type="text" name="quantity" value="{{ edits.quantity }}" class="qty-input" readonly>
                        <button class="qty-btn plus">+</button>
                    </div><br>
                        
                    <label for="status">Select Status</label><br>
                    <select name="status" id="status">
                        <option value="in_stock" {% if  edits.status == 'in_stock' %}selected{% endif %}>In stock</option>
                        <option value="out_of_stock" {% if  edits.status == 'out_of_stock' %}selected{% endif %}>Out of stock</option>
                    </select><br>
                    
                    <label for="product_type">Select product type</label><br>
                    <select name="product_type" id="product_type">
                        <option value="electronics" {% if edits.product_types == 'electronics' %}selected{% endif %}>Electronics</option>
                        <option value="clothing" {% if edits.product_types == 'clothing' %}selected{% endif %}>Clothing</option>
                        <option value="grocery" {% if edits.product_types == 'grocery' %}selected{% endif %}>Grocery</option>
                        <option value="fitness" {% if edits.product_types == 'fitness' %}selected{% endif %}>Fitness</option>
                        <option value="toys" {% if edits.product_types == 'toys' %}selected{% endif %}>Toys</option>
                    </select><br>
                    
                    <label for="vendor_name">Enter vendor name</label><br>
                    <input type="text" name="vendor_name" id="vendor_name"  value="{{ edits.vendor_name }}"><br>
                    <button class="btn" type="submit" onclick="closePopup()">Submit</button>
                </div>
                </form>
        </div>

        {% if message %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </section>

    <script src="{% static 'js/script.js' %}" defer></script>
</body>
{% endblock content %}
</html>