{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <title>Add New products</title>
</head>
<body>
    <section class="manage-inventory-system">
        <div>
            <h1 class="manage-inventory">Manage Inventory</h1>

        </div>

        <div class="add-products">
            <form action="" method="POST">
                {% csrf_token %}

                <div class="input-group">

                    <label for="id">Enter product ID</label><br>
                    <input type="text" name="id" id="id"><br>
                    
                    <label for="number">Enter quantity to add</label><br>
                    <div class="qty-box">
                        <button class="qty-btn minus">-</button>
                        <input type="text" name="quantity" value="0" class="qty-input" readonly>
                        <button class="qty-btn plus">+</button>
                    </div><br>
                        
                    <label for="status">Select Status</label><br>
                    <select name="status" id="status">
                        <option value="in_stock">In stock</option>
                        <option value="out_of_stock">Out of stock</option>
                    </select><br>
                    
                    <label for="id">Select product type</label><br>
                    <select name="product_type" id="product_type">
                        <option value="electronics">Electronics</option>
                        <option value="clothing">Clothing</option>
                        <option value="grocery">Grocery</option>
                        <option value="fitness">Fitness</option>
                        <option value="toys">Toys</option>
                    </select><br>
                    
                    <label for="id">Enter vendor name</label><br>
                    <input type="text" name="name" id="id">
                </div>
                <button class="btn" type="submit">Submit</button>
                </form>
        </div>

        {% for message in messages %}
            {% if message %}
              {{ message }}
            {% endif %}
          
        {% endfor %}
    </section>

    <script src="{% static 'js/script.js' %}" defer></script>
</body>
</html>