{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>

<section class="signup">
    <div class="signup-section">

      <div class="img-section">
        <img class="img-1" src="{% static 'images/inv.png' %}" alt="">
      </div>
      
      <div class="signup-form">
        <h2>Create an account</h2>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="text" name="username" id="username" required placeholder="Username"><br>
          <input type="email" name="email" id="email" required placeholder="Email"><br>
          <input type="password" name="password" id="password" required placeholder="Password"><br>
          <input type="password" name="confirm-password" id="confirm-password" required placeholder="Confirm Password"><br>
          <button type="submit">Signup</button>
        </form>
        {% if messages %}
        {% for message in messages %}
        <h3 class="alerting" style="color: rgb(237, 75, 75); margin: 0.5rem;"> {{ message }} </h3>  
        {% endfor %}
        {% endif %}
      </div>

    </div>
</section>
  </body>
  </html>