{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RR Online Store</title>

        <!-- Bootstrap -->
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <!-- Icon-link -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    </head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand text-secondary" href="{% url 'user' %}">RR STORE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><ion-icon class="fs-1 text-secondary" name="menu"></ion-icon></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search">
                <a href="{% url 'cart' %}" class="m-4 fs-2"><ion-icon name="cart"></ion-icon></a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="m-4 text-white p-2 rounded bg-danger text-decoration-none">LOGOUT</a>
                {% else %}
                <a href="{% url 'login' %}" class="m-4 text-white p-2  rounded bg-primary text-decoration-none">LOGIN</a>
                {% endif %}
            </div>
        </div>
    </nav>

  {% block content %}{% endblock content %}

  <footer class="text-center text-lg-start text-white" style="background-color:#1b1b1bbf ">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Links -->
      <section class="#">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p>
              <a href="#" class="text-white text-decoration-none">MDBootstrap</a>
            </p>
            <p>
              <a href="#" class="text-white text-decoration-none">MDWordPress</a>
            </p>
            <p>
              <a href="#" class="text-white text-decoration-none">BrandFlow</a>
            </p>
            <p>
              <a href="#" class="text-white text-decoration-none">Bootstrap Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a href="#" class="text-white text-decoration-none">Your Account</a>
            </p>
            <p>
              <a href="#" class="text-white text-decoration-none">Become an Affiliate</a>
            </p>
            <p>
              <a href="#" class="text-white text-decoration-none">Shipping Rates</a>
            </p>
            <p>
              <a href="#" class="text-white text-decoration-none">Help</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2026 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/">@rahulrameshm0</a>
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">

            <a href="#" class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><ion-icon name="logo-facebook"></ion-icon></a>

            <a href="#" class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><ion-icon name="logo-twitter"></ion-icon></a>

            <a href="#" class="btn btn-outline-light btn-floating m-1" class="text-white" role="button" ><ion-icon name="logo-google"></ion-icon></a>

            <a href="#" class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><ion-icon name="logo-instagram"></ion-icon></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>

</body>
</html>